#messagemodal{
	font-size: 17px;
	margin-top: 9px;
	margin-bottom: 10px;
	color: #000;
}
.sombra-interna,.sombra-interna-ejer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(0,0,0,.4);
	text-align: center;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	z-index: 9999;
}
.mapa {
	display: none;
	width: 100%;
	height: 400px;
	background-color: grey;
	margin-top: 20px;
}
#div-button-add{
	clear: both;
}
#slider_movimientos, #slider_movimientos_edit, #slider_escenarios, #slider_escenarios_edit, #slider_escenarios2, #slider_escenarios2_edit {
	padding: 5px;
	height: 155px;
	width: 100%;
	overflow: hidden;
	overflow-x: auto;
	border: 1px solid #000;
}
#sortable,#sortable_edit, #sortable2, #sortable2_edit, #sortable3, #sortable3_edit { 
	width: 0px;
	overflow: hidden;
	height: 130px;
}
#sortable div,#sortable_edit div,#sortable2 div,#sortable2_edit div, #sortable3 div,#sortable3_edit div  {
	cursor:all-scroll;
	margin: 3px 10px 3px 0;
	padding: 10px;
	float: left;
	width: 200px;
	height: 120px;
	font-size: 18px;
	text-align: center;
	position: relative;
}
#sortable button,#sortable_edit button, #sortable2 button, #sortable2_edit button, #sortable3 button, #sortable3_edit button{
	position: absolute;
	right: 8px;
	top: 0;
}

/*----------ToogleSwitch------------*/
.toogleswitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.toogleswitch input {display:none;}
.toogleslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.toogleslider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.toogleswitch input:checked + .toogleslider {
  background-color: #32c5cd;
}
.toogleswitch input:focus + .toogleslider {
  box-shadow: 0 0 1px #2196F3;
}
.toogleswitch input:checked + .toogleslider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.toogleslider.toogleround {
  border-radius: 34px;
}
.toogleslider.toogleround:before {
  border-radius: 50%;
}