.user-profile-wrapper .user-profile-sidebar .user-profile-pic img{
	border-radius: 999999999999999999999999px;
	width: 95px;
	height: 95px;
	position: relative;
    top: -30px;
    float: right;
}
.user-profile-wrapper .user-profile-sidebar .user-profile-pic{
	text-align: right;
}
.header-text{
	display: none;
}
.cont-pad.padding-md{
	padding: 0px!important;
}
.portada-perfil{
	height: 190px;
	background-image: url("../images/puente.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.smart-widget{
	border: none!important;
}
.tab-style2{
	padding-left: 10px;
	padding-right: 10px;
}
.tab-style2.tab-right li{
	float: left;
}
.bg-grey{
	background: #fff;
}
#cont-perfil-right{
	background: #fff;
	padding-left: 0px;
}
.user-profile-wrapper .user-profile-sidebar .user-name {
    font-size: 21px;
    text-transform: uppercase;
    margin-top: 14px;
}

.tab-style2 li a .icon-wrapper{
	display: none;
}
.tab-style2 li a .text-wrapper{
	margin-left: 0px;
}

.nav-tabs{
	border-bottom: none;
}


.tab-style2 li a{
	border-bottom: 3px solid #aaa!important;
    margin-left: 7px;
    padding-right: 10px;
    margin-right: 7px;
    padding-left: 10px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	border-bottom: 3px solid #2baab1!important;
	border-top: none;
	border-left: none;
	border-right: none;
}

#cont-list-clientes ul li a{
	padding: 6px 25px;
	display: block;
	cursor: pointer;
    font-weight: bold;
}
#cont-list-clientes ul li a:hover{
	background: #fff;
	color: #555;
}
#cont-list-clientes ul li.selec-clie a{
	background: #fff;
	color: #555;
}
#cont-perfil-left{
	padding-right: 0px;
}


#cont-search-clientes{
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 25px;
	margin-bottom: 20px;
}
#cont-search-clientes-relative{
	position: relative;
	width: 100%;
}
#input-search{
	border-radius: 8px;
	padding: 5px;
	padding-right: 25px;
	padding-left: 10px;
	outline: none;
	width: 100%;
	border: 1px solid #cacaca;
}
.circle-search{
	border-radius: 9999999999px;
    position: absolute;
    top: 6px;
    right: 6px;
    color: #fff;
    background: #2baab1;
    height: 19px;
    width: 19px;
    text-align: center;
    font-size: 11px;
    padding-top: 1px;
}



#cont-btn-new-clientes-relative{
	    width: 100%;
    position: relative;
    padding-left: 15px;
}
#cont-btn-new-clientes-relative button{
	    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
    background: #2baab1;
    color: #fff;
    font-size: 12.5px;
}
#cont-btn-new-clientes-relative i{
	    position: absolute;
    top: 4px;
    font-size: 20px;
    left: 23px;
}
#cont-btn-new-clientes-relative span{
	margin-left: 8px;
}
#cont-btn-clientes{
	width: 100%;
    float: left;
    margin-bottom: 25px;
}
#cont-list-clientes{
	width: 100%;
	float: left;
}

#cont-select-clientes-relative{
	    padding-right: 10px;
    width: 100%;
}
#cont-select-clientes-relative select{
	width: 100%;
  border-radius: 10px;
  font-size: 12.5px;
  padding: 5px;
  background: #f3f3f3;
  color: #505050;
}