#fileImagen{
  min-height: 50px !important;
  padding: 10px;
}
#fileImagen .dz-message{
  position: relative;
  width: 100%;
  height: 32px;
  margin-left: 0;
  margin-top: 0;
  top: 0;
  left: 0;
}
#fileImagen .dz-message span{
  font-size: 12pt;
}