.visor-content * {border: 0; margin: 0; padding: 0}

.visor-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.visor-content .logo {background: url('progressLogo.Light.png') no-repeat center / contain; width: 154px; height: 130px;}
.visor-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.visor-content .progress .empty {background: url('progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.visor-content .progress .full {background: url('progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.visor-content .logo.Dark {background-image: url('progressLogo.Dark.png');}
.visor-content .progress.Dark .empty {background-image: url('progressEmpty.Dark.png');}
.visor-content .progress.Dark .full {background-image: url('progressFull.Dark.png');}

#playVisor{
	position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    left: 0;
    cursor: pointer;
}

#playVisor i{
	position: absolute;
	font-size: 10em;
	top: 50%;
	left: 50%;
	margin-top: -65px;
	margin-left: -56px;
}